.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__collections {
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 1.94rem;
  line-height: 1.4em;
  text-align: center;
}

.section__collections-big-screen {
  display: none;
}

.section__collections-small-screen {
  display: block;
}

.section__collections-slider {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}


.section__collections-slider img {
  cursor: pointer;
}

.section__collections-slider-img {
  background: url("../../../assets/images/clour-01.png");
  background-size: cover;
  width: 266px;
  height: 249px;
  border-radius: 30px;
  box-shadow: 0 21px 88px rgba(126, 118, 118, 0.2);
  margin: 0 40px;
}

.section__collections-slider-img-left {
  width: 324px;
  height: 302px;
  background: url("../../../assets/images/clour-02.png");
  background-size: cover;
  position: relative;
  left: 80px;
  z-index: -1;
  display: none;
}

.section__collections-slider-img-right {
  width: 324px;
  height: 302px;
  background: url("../../../assets/images/clour-03.png");
  background-size: cover;
  position: relative;
  right: 80px;
  z-index: -1;
  display: none;
}



@media screen and (min-width: 768px) {
  .section__collections-slider-img {
    width: 453px;
    height: 423px;
  }

  .section__collections-slider-img-left {
    display: block;
  }

  .section__collections-slider-img-right {
    display: block;
  }

  .section__collections {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 1.3em;
  }

  .section__collections-big-screen {
    display: block;
  }

  .section__collections-small-screen {
    display: none;
  }

}

@media screen and (max-width: 950px) {
  .section__collections-slider-img-left {
    display: none;
  }

  .section__collections-slider-img-right {
    display: none;
  }
}
