@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.header__nav {
  display: none;
}

.header__start__button {
  display: none;
}

.main__content {
  margin-right:0;
}

.header__accordion {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.container {
  padding: 0 16px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.header__start__button {
  display: block;
}

.header__logo svg {
  fill: #8187DC;
  width: 56px;
  height: 50px;
}

.header__nav__items {
  display: flex;
}

.header__nav__item {
  list-style-type: none;
}

.header__nav__item a {
  font-weight: 600;
  font-size: 1em;
  color: #000000;
  line-height: 1.26em;
  text-decoration: none;
  transition: 0.3s all ease-out;
}

.header__nav__item a:hover,
.header__nav__item a:active  {
  color: #9A93FF;
}

.header__nav__item:not(:last-child) {
  margin-right: 25px;
}

.header__start__button {
  background-color: #ADA7FF;
  padding: 16px 32px;
  border-radius: 999px;
  border: 1px solid #ADA7FF;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.125em;
  transition: 0.3s all ease-out;
  display: none;
}

.header__start__button:hover {
  background-color: #DAB6FC;
  border: 1px solid #ADA7FF;
}

.main__wrapper-row {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 200px;
  flex-wrap: wrap;
}

.main__content {
  max-width: 755px;
  position: relative;
  top: 0;
  left: 0;
}

.main__first {
  width: 100%;
  padding-top: 0;
}

.main__second {
  display: flex;
}

.main__title {
  font-weight: 700;
  font-size: 1.9em;
  line-height: 2.39em;
  color: #302B3A;
  margin-top: 0;
}

.main__title__word {
  font-weight: 600;
  line-height: 2.39em;
  color: #ADA7FF;
}

.main__text {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.26em;
  color: #404040;
  margin-bottom: 50px;
}

.main__button {
  background-color: #ADA7FF;
  padding: 16px 32px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.26;
  border: 1px solid #ADA7FF;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  transition: 0.3s all ease-out;
}

.main__button svg {
  margin-left: 11px;
  fill: #FFFFFF;
}

.main__button:hover, .main__button:active {
  background-color: #DAB6FC;
}

.main__video {
  margin-left: 30px;
  display:block;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  text-align: center;
}

.main__video a{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color:#ADA7FF;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.26em;
}



.main__video__text {
  margin-left: 10px;
  display: block;
}

.main__third {
  display: flex;
}

.main__third__item:not(:last-child) {
  margin-right: 65px;
}

.item__quantaty {
  color: #302B3A;
  font-size: 2.38em;
  font-weight: 650;
  line-height: 3.02em;
}

.item__description {
  color: #686868;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.26em;
  margin-top: -80px;
}

.main__pets {
  display: flex;
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 80%;
  margin-top: 170px;
}

.top-left {
  background-image: url("../assets/images/dog-print-with-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 59px;
  height: 61px;
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
}

.top-right {
  position: absolute;
  top:0;
  right:0;
}

.top-right-one {
  background: url('../assets/images/background-item-01.png') no-repeat;
  background-size: auto, auto, cover;
  width: 345px;
  height: 361px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.top-right-two {
  background: url('../assets/images/dog-sitting.png') no-repeat;
  background-size: auto, auto, cover;
  width: 241px;
  height: 344px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.bottom-left {
  position: absolute;
  bottom: 355px;
  left: 0;
}

.bottom-left-one {
  background: url('../assets/images/background-item-02.png') no-repeat;
  background-size: auto, auto, cover;
  width: 345px;
  height: 361px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bottom-left-two {
  background: url('../assets/images/cat-lying.png') no-repeat;
  background-size: auto, auto, cover;
  width: 332px;
  height: 432px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.bottom-right {
  background-image: url("../assets/images/cat-print-with-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 68px;
  height: 65px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 1440px) {

  .container {
    padding: 0 135px;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
  }

  .header__start__button {
    display: block;
  }

  .header__logo svg {
    fill: #8187DC;
    width: 56px;
    height: 50px;
  }

  .header__nav__item a {
    font-weight: 600;
    font-size: 1em;
    color: #000000;
    line-height: 1.26em;
    text-decoration: none;
    transition: 0.3s all ease-out;
  }

  .header__nav__item:not(:last-child) {
    margin-right: 25px;
  }

  .header__start__button {
    background-color: #ADA7FF;
    padding: 16px 32px;
    border-radius: 999px;
    border: 1px solid #ADA7FF;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125em;
    transition: 0.3s all ease-out;
  }

  .header__start__button:hover {
    background-color: #DAB6FC;
    border: 1px solid #ADA7FF;
  }

  .main__wrapper-row {
    display: flex;
    position: relative;
    margin-bottom: 200px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .main__content {
    max-width: 755px;
    position: relative;
    top: 0;
    left: 0;
  }

  .main__first {
    width: 770px;
    padding-top: 90px;
  }

  .main__second {
    display: flex;
  }

  .main__title {
    font-weight: 700;
    font-size: 3.83em;
    line-height: 4.85rem;
    color: #302B3A;
    margin-top: 0;
  }

  .main__title__word {
    font-weight: 600;
    line-height: 5.75em;
    color: #ADA7FF;
  }

  .main__text {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.26em;
    color: #404040;
    margin-bottom: 60px;
    margin-top: -180px;
  }

  .main__button {
    background-color: #ADA7FF;
    padding: 16px 32px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.26;
    border: 1px solid #ADA7FF;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s all ease-out;
  }

  .main__button svg {
    margin-left: 11px;
    fill: #FFFFFF;
  }

  .main__button:hover, .main__button:active {
    background-color: #DAB6FC;
  }

  .main__video {
    margin-left: 30px;
    display:block;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    text-align: center;
  }

  .main__video a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color:#ADA7FF;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.26em;
  }



  .main__video__text {
    margin-left: 10px;
    display: block;
  }

  .main__third {
    display: flex;
  }

  .main__third__item:not(:last-child) {
    margin-right: 65px;
  }

  .item__quantaty {
    color: #302B3A;
    font-size: 2.38em;
    font-weight: 650;
    line-height: 3.02em;
  }

  .item__description {
    color: #686868;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.26em;
    margin-top: -80px;
  }

  .main__pets {
    display: flex;
    width: 490px;
    height: 600px;
    position: absolute;
    top:80%;
    left: 0;
    margin-top: 140px;
  }

  .top-left {
    background-image: url("../assets/images/dog-print-with-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 59px;
    height: 61px;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
  }

  .top-right {
    position: absolute;
    top:0;
    right:0;
  }

  .top-right-one {
    background: url('../assets/images/background-item-01.png') no-repeat;
    background-size: auto, auto, cover;
    width: 345px;
    height: 361px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .top-right-two {
    background: url('../assets/images/dog-sitting.png') no-repeat;
    background-size: auto, auto, cover;
    width: 241px;
    height: 344px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .bottom-left {
    position: absolute;
    bottom: 355px;
    left: 0;
  }

  .bottom-left-one {
    background: url('../assets/images/background-item-02.png') no-repeat;
    background-size: auto, auto, cover;
    width: 345px;
    height: 361px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .bottom-left-two {
    background: url('../assets/images/cat-lying.png') no-repeat;
    background-size: auto, auto, cover;
    width: 332px;
    height: 432px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .bottom-right {
    background-image: url("../assets/images/cat-print-with-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 68px;
    height: 65px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
  }

  .header__start__button {
    display: block;
    background-color: #ADA7FF;
    padding: 16px 32px;
    border-radius: 999px;
    border: 1px solid #ADA7FF;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125em;
    transition: 0.3s all ease-out;
  }

  .header__start__button:hover {
    background-color: #DAB6FC;
    border: 1px solid #ADA7FF;
  }

  .header__nav__item a {
    font-weight: 600;
    font-size: 1em;
    color: #000000;
    line-height: 1.26em;
    text-decoration: none;
    transition: 0.3s all ease-out;
  }

  .header__nav__item:not(:last-child) {
    margin-right: 25px;
  }


  .main__pets {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 0
  }

  .main__first {
    padding-top: 100px;
  }

  .header__nav {
    display: flex;
  }

  .header__accordion {
    display: none;
  }

}

@media screen and (min-width: 1600px) {
  .main__pets {
    margin-left: 90px;
  }
}
