@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.title-text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.53rem;
  letter-spacing: 0.375rem;
}

.title-text::before, .about-title-text::after {
  width: 72px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin-right: 32px;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  background-color: #2C2B2B;
}

.section-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.45rem;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.section-text {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #FFFFFF;
}

.section-link {
  font-weight: 700;
  color: #FBD784;
  font-size: 1.125rem;
  line-height: 1.54rem;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
}

.section-link:hover ~ .section-link + svg {
  fill: #FFFFFF;
  color: #FFFFFF;
}

.section-link svg {
  margin-left: 9px;
  transition: all ease 0.5s;
  fill: #FBD784;
}

.section-link svg:hover {
  fill: #FFFFFF;
}

.section-link-wrap {
  display: flex;
  justify-content: left;
  align-items: center;
}

.section-link:hover {
  color: #FFFFFF;
}

.header {
  background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),
  url("../assets/images/hero-bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #2C2B2B;
  margin-bottom: -358px;
 }

.header-wrapper {
  padding: 58px 84px 1200px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 196px;
}

.header-logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  transition: all ease 0.5s;
}

.header-logo:hover {
  color: #FFC178;
}

.header-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-item {
  list-style-type: none;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item-link {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  transition: all ease 0.5s;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: #FFC178;
}


.header-search {
  display: flex;
  align-items: center;
}

.header-search svg {
  margin-right: 18px;
}

.header-search svg path {
  fill: #FFFFFF;
}

.search-input {
  background: transparent;
  border: none;
  width: 70px;
  transition: all ease 0.5s;
  padding: 2px 0;
}

.search-input::placeholder {
  color: #FFFFFF;
  font-size: 1.06rem;
}

.search-input:hover::placeholder {
  color: #FFC178;
}

.header-content {
  margin-left: 398px;
}



.header-text {
  color: #FFC178;
  margin-bottom: 32px;
}

.header-text::before {
  background-color: #FFC178;
}

.header-title {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 6.25rem;
  color: #FFFFFF;
  margin-bottom: 126px;
}

.header-title span {
  font-size: 6rem;
  font-weight: 700;
}

.header-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-text {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.362em;
  color: #FFFFFF;
  display: flex;
  transition: all ease 0.5s;
}

.scroll-text svg {
  fill: #FFFFFF;
}

.scroll-text:hover, .scroll-text svg:hover {
  color: #FFC178;
  fill: #FFC178;
}

.header-scroll-down svg {
  margin-left: 9px;
}

.header-social-links {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(90deg);
  position: relative;
  bottom: 240px;
  right: 95px;
}

.header-social-links p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.362em;
  color: #FFFFFF;
  margin-right: 22px;
  display: inline-block;
}

.social-link-item svg {
  fill: #FFFFFF;
  transition: 0.5s ease all;
}

.social-link-item svg:hover {
  fill: #FFC178;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-item {
  list-style-type: none;
}

.social-link-item:not(:last-child) {
  margin-right: 26px;
}

.promo-section {
  background-image:
  linear-gradient(to bottom, transparent 0%, #000000 30%),
  url("../assets/images/header-bottom-bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.promo-info {
  display: flex;
  flex-direction: column;
  max-width: 632px;
}

.arrow-right {
  fill: #FBD784;
}

.promo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 230px 0 250px;
  background-color: transparent;
}

.promo-image {
  background-image: url("../assets/images/holidays-img.png");
  width: 598px;
  height: 720px;
  display: flex;
  background-color: transparent;
}

.promo-title-text {
  color:#FBD784;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.promo-title-text::before {
  background-color:#FBD784;
}

.promo-text {
  margin-bottom: 27px;
}

.about-section {
  background-color: #000000;
  padding-bottom: 226px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 532px 40px 32px;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%),
  url("../assets/images/steps-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.about-title-text {
  color: #FBD784;
  margin-bottom: 27px;
}

.about-title-text::before, .about-title-text::after {
  background-color: #FBD784;
}

.about-title-text::after {
  margin-right: 0;
  margin-left: 29px;
}
.about-heading {
  margin-bottom: 27px;
}

.about-text {
  margin-bottom: 39px;
  max-width: 934px;
}

.slider-left, .slider-right {
  fill: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: all ease 0.5s;
}

.slider-left {
  left: 50px;
}

.slider-right {
  right: 50px;
}

.slider-left:hover, .slider-right:hover,
.slider-left:focus, .slider-right:focus {
  fill: #FFC178;
}

.culture-section {
  background-color: #000000;
  padding-bottom: 250px;
}

.culture-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.culture-info {
  max-width: 639px;
  padding-left: 50px;
}

.culture-title-text  {
  color: #FFC178;
  margin-bottom: 27px;
}

.culture-title-text::before {
  background-color: #FFC178;
}

.culture-heading {
  margin-bottom: 27px;
}

.culture-text {
  margin-bottom: 27px;
}

.culture-image {
  background-image: url("../assets/images/culture-img.png");
  width: 578px;
  height: 720px;
  display: flex;
  background-color: transparent;
}

.footer {
  background-color: #000000;
}

.footer-container {
  background-color: transparent;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 138px;
}

.footer-explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 78px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 55px;
}

.explore-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo a {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.36em;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  transition: all ease 0.5s;
}

.footer-logo a:hover {
  color: #FFC178;
}


.footer-explore-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.3em;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-right: 55px;
}

.footer-ready-btn {
  background-color: #FFA343;
  padding: 24px 75px 23px 70px;
  border-radius: 8px;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.3em;
  cursor: pointer;
  transition: all ease 0.5s;
}

.footer-ready-btn:hover {
  background-color: #FFFFFF;
}

.form-arrow {
  fill: #000000;
}

.footer-form {
  width: 404px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.footer-label {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.06rem;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 135px;
}

.footer-btn {
  background-color: #FFA343;
  padding: 28px 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.footer-btn:hover {
  background-color: #FFFFFF;
}

.footer-input {
  width: 330px;
  height: 65px;
  background: transparent;
  border: none;
  padding: 5px 10px;
  color: #FFFFFF;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 1);
  opacity: 0.5;
  font-family: DM Sans sans-serif;
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 1.22rem;
  letter-spacing: -0.2px;
}

.footer-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-right: 80px;
}

.footer-links-wrapper ul li {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color ease-out 0.3s;
}

.footer-links-wrapper ul li:hover {
  border-bottom: 1px solid #FFFFFF;
}

.first-links-column li:not(:last-child),
.second-links-column li:not(:last-child),
.third-links-column li:not(:last-child){
  margin-bottom: 45px;
}

.first-links-column li:first-child a,
.second-links-column li:first-child a,
.third-links-column li:first-child a{
  color: #FFD1A0;
  font-weight: 700;
  font-size: 1.25rem;
}

.second-links-column {
  margin: 0 185px;
}

.footer-link-item {
  list-style-type: none;
}

.footer-link-item a {
  font-weight: 400;
  font-size: 1.1875rem;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.2px;
}

.footer-additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 160px;
}

.footer-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-additional-info p a {
  font-family: DM Sans, sans-serif ;
  font-weight: 400;
  font-size: 1.07rem;
  line-height: 1.22rem;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  cursor: pointer;
  transition: border-bottom-color ease-out 0.5s;
}

.footer-additional-info p {
 transition: border-bottom-color ease-out 0.5s;
}

.footer-additional-info p a:hover {
  border-bottom: 1px solid #FFFFFF;
}

.footer-additional-info p:first-child {
  margin-right: 50px;
}

.footer-social-links svg {
  fill: #FFFFFF;
  transition: all ease 0.5s;
  cursor: pointer;
}

.footer-social-links svg:hover {
  fill: #FFC178;
}

.footer-social-links svg:not(:last-child){
  margin-right: 52px;
}

.footer-copyright {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 118px;
}
