.footer {
  margin-top: auto;
}

.footer__container__navigation-list {
  display: flex;
  width: 80%;
  justify-content: flex-start;
}

.footer__container__navigation-item {
  font-size: 1.25rem;
  transition: 0.3s ease all;
  cursor: pointer;
}

.footer__container__navigation-item:hover {
  color: var(--color-dark-violet);
}

.footer__container__navigation-item:not(:last-child) {
  margin-right: 80px;
}

.footer__container-tag {
  font-size: 1.25rem;
  color: var(--color-white);
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  right: -90px;
  bottom: 180px;
}
