.header__container {
  position: relative;
}

.header__container-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15px;
  left: 130px;
  z-index: -1;
}

.header__container__navigation-list {
  display: flex;
  padding-left: 43px;
}

.header__container__navigation-list-item {
  font-size: 2.5rem;
  color: var(--color-white);
  transition: 0.3s all ease;
  cursor: pointer;
}

.header__container__navigation-list-item:not(:last-child) {
  margin-right: 58px;
}

.header__container__navigation-list-item:hover {
  color: var(--color-dark-violet);
}



