.product__item {
  position: relative;
}

#product-item-2,
#product-item-3 {
  display: none;
}

.product__bg {
  width: 329px;
  height: 300px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product__bg:not(:last-child) {
  margin-bottom: 35px;
}

.product__blue {
  background-color: var(--color-blue);
}

.product__card-icon {
  width: 80px;
  height: 80px;
  border: 6px solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product__card-icon:hover {
  border: 6px solid var(--color-red);
}

.product__item-img {
  width: 227px;
  height: 306px;
  display: flex;
  position: absolute;
  top: -50px;
}

.product__item-data-rating {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
  margin-bottom: 16px;
}

.product__item-data-rating img:not(:last-child) {
  margin-right: 10px;
}

.product__item-data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__item-data-row:last-child {
  margin-bottom: 60px;
  margin-top: -30px;
}

.product__item-data-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--color-grey);
}

.product__item-data-text {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.4em;
  color: var(--color-grey);
}

.product__item-data-price {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.4em;
  color: var(--color-grey);
}

@media screen and (min-width: 768px) {
  #product-item-2,
  #product-item-3 {
    display: block;
  }

}

@media screen and (max-width: 950px) {

}
