@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #fcfcff;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-blue-gray: #697586;
  --color-gray: #dfe1e3;
  --color-lilac: #b0a6bd;
  --color-pink: #f5a3b7;
  --color-light-pink: #fee2e3;
  --color-green: #7fccc6;
  --color-red: #e77373;
  --color-orange: #fdb64e;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

.main-section-wrapper {
  padding: 70px 50px;
  background: linear-gradient(217deg, #9065BC, rgba(255, 0, 108, 0.38) 100%);
}

.main-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg {
  width: 143px;
  height: 100px;
}

.switcher {
  /*background-image: url(");*/
}

/*.second-switcher {*/
/*  width: 120px;*/
/*  height: 50px;*/
/*  border-radius: 100px;*/
/*  background-color: var(--color-lilac);*/
/*  color: var(--color-white);*/
/*  padding: 8px 17px;*/
/*  position: absolute;*/
/*  z-index: 3;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

/*.top-switcher {*/
/*  width: 65px;*/
/*  height: 50px;*/
/*  z-index: 4;*/
/*  background-color: var(--color-lilac);*/
/*  color: var(--color-white);*/
/*  box-shadow: rgba(0, 0, 0, 0.4);*/
/*  border-radius: 40px;*/
/*}*/

.degree {
  color: var(--color-white);
  font-size: 164px;
  line-height: 197px;
  font-weight: 100;
}

.degree-one {
  font-size: 70px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 84px;
  vertical-align: top;
}


.weather-data {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: var(--color-white);
}

