.footer {
  background-color: var(--color-dark-pink);
  padding: 62px 41px;
  margin: 0 auto;
}

.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-links {
  display: flex;
  /*width: 80%;*/
}

.footer-social-links-item {
  width: 51px;
  height: 51px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social-links-item:not(:last-child) {
  margin-right: 35px;
}

.footer-logo {
  width: 73px;
  height: 66px;
}

.footer-links {
  display: flex;
}

.footer-links-item {
  display: none;
}

.footer-links-item a{
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.925em;
  color: var(--color-white);
}

.footer-links-item:not(:last-child) {
  margin-right: 32px;
}


@media screen and (min-width: 768px) {
  .footer {
    background-color: var(--color-dark-pink);
    padding: 62px 240px;
  }

  .footer-links-item {
    display: flex;
  }

  .footer-section {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .footer-links {
    display: none;
  }
}
