.sign-up__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up__form {
  width: 787px;
  border-radius: 20px;
  background: #5E659D;
  margin-bottom: 40px;
  padding: 48px 65px 56px 45px;
  margin-top: 200px;
}

.sign-up__form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up__form-block:not(:last-child) {
  margin-bottom: 45px;
}


.sign-up__form label {
  font-size: 2rem;
}

.sign-up__form input {
  font-size: 2rem;
  border-radius: 20px;
  border: 4px solid #DBAC74;
  background: #FFF;
  height: 66px;
  width: 500px;
}

.sign-up-img {
  background-image: url("../../../assets/images/background-page-sign-up.png");
  width: 1749px;
  height: 984px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
