.landing__container {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.landing__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.landing__content-heading {
  font-size: 6.875rem;
  color: var(--color-white);
}

.landing__content-text {
  font-size: 2.125rem;
  color: var(--color-white);
  margin-bottom: 70px;
  text-align: center;
  margin-left: 20px;
}

.landing-img {
  background-image: url("../../../assets/images/background-page-landing.png");
  background-size: cover;
  background-position: bottom;
  width: 1920px;
  height: 1080px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
