/* your styles here for mobile view by default */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.hero {
  font-family: Poppins sans-serif;
  background-image: url("../../../assets/images/hero-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5a3b7;
}

.hero-wrapper {
  padding: 78px 31px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 215px;
}

.hero-title {
  font-size: 18px;
  color: #383838;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-text {
  font-size: 14px;
  color: #383838;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 38px;
  margin-right: 78px;
}

.hero-button {
  background-color: #F5A3B7;
  padding: 8px 54px;
  color: #FFFFFF;
  max-width: 179px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 1.5em;
  cursor: pointer;
  transition: all ease 0.5s;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #FFFFFF;
  color: #F5A3B7;
  border: 1px solid #F5A3B7;
}


@media screen and (min-width: 768px) {
  /* your styles here for desktop view */

  .hero {
  }
}
