.header {
  background: linear-gradient(to bottom right, #FF9292 0%, #DE5150 100%);
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation {
  display: none;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-item {
  background-color: #FFFFFF;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-item-line {
  background-color: #FFFFFF;
  width: 2px;
  height: 47px;
  opacity: 0.5;
}

.header__nav-element:not(:last-child) {
  margin-right: 32px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header__content-moto {
  font-size: 1.375rem;
  line-height: 1.925rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: var(--color-white);
  padding-bottom: 14px;
}

.header__content-heading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1em;
  color: var(--color-white);
  text-transform: uppercase;
}

.header__content-heading-big-screen {
  display: none;
}

.header__content-heading-small-screen {
  display: block;
}

.header__content-img{
  width: 323px;
  height: 330px;
  margin-right: 0;
  background-image: url("../../../assets/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__content-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
}

.header__content-price-current {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.575rem;
  color: var(--color-white);
}

.header__content-price-previous {
  font-weight: 500;
  font-size: 1.94rem;
  line-height: 2.71rem;
  opacity: 0.7;
  color: var(--color-white);
}

.header__content-price-line {
  width: 2px;
  height: 50px;
  background-color: var(--color-white);
}

.header__content-price-btn {
  max-width: 100%;
  color: var(--color-red);
  background-color: var(--color-white);
  border-radius: 62px;
  font-size: 1.375rem;
  font-weight: 500;
  padding: 16px 116px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-bottom: 36px;
}

.header__content-price-btn:hover {
  color: var(--color-white);
  background-color: var(--color-red);
  border: 1px solid var(--color-white);
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__content-heading {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1em;
  }

  .header__content-heading-big-screen {
    display: block;
  }

  .header__content-heading-small-screen {
    display: none;
  }

  .header__content-img {
    width: 570px;
    height: 583px;
    margin-right: 95px;
  }

  .header__content-moto {
    padding-bottom: 3px;
  }

  .header__menu {
    margin-bottom: 64px;
  }

  .header__content-price {
    width: 70%;
  }

  .header__content-price-btn {
    margin-bottom: 0;
  }

  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 103px;
  }
}


@media screen and (max-width: 950px) {
  .header__content-img {
    margin-right: 0;
  }

  .header__content {
    flex-wrap: wrap;
  }
}
