/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  --color-grey: #180202;
  --color-blue: #E5F1FF;
  --color-green: #E5FFFB;
  --color-pink: #FFE5EE;
  --color-pink-bg: #FFF4F4;
  --color-dark-pink: #E86564;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

li {
  list-style-type: none;
}

body {
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button, li img {
  cursor: pointer;
}

.app {
  max-width: 480px;
  margin: 0 auto;
}

.container {
  padding: 20px 15px 36px;
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 100%;
    width: 100%;
  }
}

