.subscribe__container {
  max-width: 712px;
  background-color:  var(--color-pink-bg);
  border-radius: 20px;
  padding: 54px 0 36px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe__container-heading {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.3em;
  color: var(--color-grey);
  margin-bottom: 6px;
}

.subscribe__container-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 36px;
}

.subscribe__container-form {
  width: 344px;
}

.subscribe__container-form-input {
  max-width: 280px;
  background-color: var(--color-white);
  padding: 17px 30px 17px 30px;
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 42px;
  border-radius:  73px;
  border: none;
  display: flex;
  width: 100%;
  outline: none;
}

.subscribe__container-form-btn {
  background-color: var(--color-red);
  border-radius: 50px;
  width: 344px;
  padding: 15px 30px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.925rem;
  border: none;
}

@media screen and (min-width: 768px) {
  .subscribe__container {
    padding: 54px 0 54px;
  }

  .subscribe__container-form-input {
    max-width: 503px;
  }

  .subscribe__container-form {
    width: 600px;
    position: relative;
  }

  .subscribe__container-form-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
  }


}
