.boxing__container {
  margin: 0 auto;
  max-width: 1070px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boxing__container-img {
  width: 307px;
  height: 268px;
  margin-bottom: 3px;
  background-image: url("../../../assets/images/boxing.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.boxing__container-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  color: var(--color-black);
}

.boxing__container-heading-small-screen {
  display: block;
}

.boxing__container-heading-big-screen {
  display: none;
}

.boxing__container-heading-list-item {
  padding: 20px 0;
}

.boxing__container-heading-list-item:nth-child(2){
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.boxing__container-heading-list-item:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.boxing__container-heading-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boxing__container-heading-list-item img {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .boxing__container-img {
    width:  662px;
    height: 577px;
    margin-bottom: 0;
    background-image: url("../../../assets/images/boxing.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .boxing__container {
    margin-bottom: 150px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .boxing__container-heading-small-screen {
    display: none;
  }

  .boxing__container-heading-big-screen {
    display: block;
  }

  .boxing__container-heading {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 1.3em;
    color: var(--color-black);
    margin-bottom: 48px;
  }

}

@media screen and (max-width: 950px) {
  .boxing__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
