.products__container {
  padding: 20px 15px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#products__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  max-width: 1200px;
}

.products__heading {
  font-weight: 500;
  font-size: 1.94rem;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-grey);
}

.products__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.products__text-small-screen {
  display: block;
}

.products__text-big-screen {
  display: none;
}

@media screen and (min-width: 768px) {
  .products__container {
    padding: 0 245px;
  }

  .products__heading {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 25px;
    color: var(--color-grey);
  }

  .products__text {
    margin-bottom: 100px;
  }

  .products__text-small-screen {
    display: none;
  }

  .products__text-big-screen {
    display: block;
  }

  #products__cards {
    justify-content: space-between;
    margin-top: 0;
  }

}

@media screen and (max-width: 950px) {
  #products__cards {
    justify-content: center;
    margin-top: 50px;
  }
}
