.common-button {
  border-radius: 10px;
  background: #5E659D;
  color: #FFFFFF;
  font-size: 2.5rem;
  padding: 20px 30px;
  align-self: center;
  transition: 0.3s all ease;
  border: 1px solid #5E659D;
}

.common-button:hover {
  background: #FFFFFF;
  color: #5E659D;
  border: 1px solid #5E659D;
}
