.feature__container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__content {
  width: 955px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__content-heading {
  margin-bottom: 107px;
  font-size: 6rem;
  display:flex;
  justify-content: center;
}

.feature__content-buttons {
  margin-bottom: 107px;
}

.discover__button.common-button:not(:last-child) {
  margin-right: 80px;
}

.feature__content-text {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-white);
}

.feature__image {
  background-image: url("../../../assets/images/music-titles.png");
  width: 512px;
  height: 512px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
