.feature__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__item-img {
  width: 98px;
  height: 98px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/Ellipse 22.png'), url('./assets/images/Ellipse 24.png'), url('./assets/images/Ellipse 23.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, center, bottom center;
}

.feature__item-params {
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}

.feature__item-params-heading {
  color: var(--color-grey);
  font-size: 1.94rem;
  line-height: 1.4em;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0;
}

.feature__item-params-text {
  margin: 0;
}

.feature__item-params-text {
  color: var(--color-grey);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.feature__item-params-link {
  color: var(--color-red);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5em;
}

.feature__item:not(:last-child) {
  margin-bottom: 40px;
}
