.feature__container {
  max-width: 980px;
  margin: 0 auto;
}

.features__items {
  margin-bottom: 55px;
}

.feature__heading {
  color: var(--color-grey);
  font-weight: 500;
  font-size: 1.94rem;
  line-height: 1.4em;
  margin-bottom: 32px;
  max-width: 460px;
  width: 100%;
}

.feature__heading-small-screen {
  display: block;
}

.feature__heading-big-screen {
  display: none;
}

.feature__picture {
  width: 208px;
  height: 296px;
  background-image: url("./assets/images/feature.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 120px;
}


@media screen and (min-width: 768px) {
  .feature__container {
    position: relative;
    width: 70%;
  }

  .features__items {
    margin-bottom: 130px;
  }

  .feature__heading {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 1.3em;
    margin-bottom: 61px;
    max-width: 460px;
  }

  .feature__heading-small-screen {
    display: none;
  }

  .feature__heading-big-screen {
    display: block;
  }

  .feature__picture {
    width: 332px;
    height: 474px;
    background-image: url("./assets/images/feature.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 0;
    position: absolute;
    top: 140px;
    right: 0;
  }
}

@media screen and (max-width: 950px) {
  .feature__picture {
    width: 208px;
    height: 296px;
    margin: 0 auto 0;
    position: static;
  }
}
